<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/authentication/logout">Logout</a></li>
    <li><a href="/authentication/sign-up">Sign Up</a></li>
    <li><a href="/lobby">Lobby</a></li>
    <li><a href="/games/42">Game (42)</a></li>
</ul>