<ul class="nav auth-nav">
    <div class="nav-left">
        <div class="user">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z"></path></svg>
            </div>
            <p class="username">
                <%= user.username %>
            </p>
        </div>
        <li><a href="/home" class="lobby">Home</a></li>
    </div>

    <div class="nav-right">
        <!-- <li><a href="/">Home</a></li>
        <li><a href="/authentication/logout">Logout</a></li>
        <li><a href="/authentication/sign-up">Sign Up</a></li>
        <li><a href="/lobby">Lobby</a></li>
        <li><a href="/games/42">Game (42)</a></li> -->
        <li>
            <a href="/authentication/logout" class="logout">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5 22C4.44772 22 4 21.5523 4 21V3C4 2.44772 4.44772 2 5 2H19C19.5523 2 20 2.44772 20 3V6H18V4H6V20H18V18H20V21C20 21.5523 19.5523 22 19 22H5ZM18 16V13H11V11H18V8L23 12L18 16Z"></path></svg>
            </a>
        </li>
    </div>
</ul>