<div class="board" id="board-main">
    <div class="top-left parking" id="b-21">
        <div id="free-parking">
            <h1>Free</h1>
            <img src="/assets/img/parking.svg" alt="">
            <h1>Parking</h1>
        </div>  
    </div>
    <div class="top">
        <div class="space property" id="b-22">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Kentucky Ave</p>
                <p class="price">$220</p>
            </div>
        </div>
        <div class="space chance" id="b-23">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-24">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Indiana Ave</p>
                <p class="price">$220</p>
            </div>
        </div>
        <div class="space property" id="b-25">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Illinois Ave</p>
                <p class="price">$240</p>
            </div>
        </div>
        <div class="space rail" id="b-26">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space property" id="b-27">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Atlantic Ave</p>
                <p class="price">$260</p>
            </div>
        </div>
        <div class="space property" id="b-28">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Ventnor Ave</p>
                <p class="price">$260</p>
            </div>
        </div>
        <div class="space water" id="b-29">
            <div class="space-content">
                <p class="name">Water Works</p>
                <img src="/assets/img/water.svg" alt="">
                <p class="price">$150</p>
            </div>
        </div>
        <div class="space property" id="b-30">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Marvin Gardens</p>
                <p class="price">$280</p>
            </div>
        </div>
    </div>
    <div class="top-right goto-jail" id="b-31">
        <div id="goto-jail">
            <h1>Go</h1>
            <h1>to</h1>
            <h1>Jail</h1>
        </div>
    </div>
    <div class="left">
        <div class="space property" id="b-20">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">New York Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space property" id="b-19">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Tennessee Ave</p>
                <p class="price">$180</p>
            </div>
        </div>
        <div class="space chest" id="b-18">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-17">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">St. James St</p>
                <p class="price">$180</p>
            </div>
        </div>
        <div class="space rail" id="b-16">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space property" id="b-15">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Virginia Ave</p>
                <p class="price">$140</p>
            </div>
        </div>
        <div class="space property" id="b-14">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">States Ave</p>
                <p class="price">$140</p>
            </div>
        </div>
        <div class="space electric" id="b-13">
            <div class="space-content">
                <p class="name">Electric Company</p>
                <img src="/assets/img/light.svg" alt="">
                <p class="price">$150</p>
            </div>
        </div>
        <div class="space property" id="b-12">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">St. Charles Pl</p>
                <p class="price">$140</p>
            </div>
        </div>
    </div>
    <div class="center">
        <h1>MONOPOLY</h1>
        <button onclick="document.getElementById('dice-roll-popup').showModal()">Open Roll Dice</button>
        <div id="chance">
            <img src="/assets/img/question.svg" alt="" draggable="false">
        </div>
        <div id="community-chest">
            <img src="/assets/img/chest.svg" alt="" draggable="false">
        </div>
    </div>
    <div class="right">
        <div class="space property" id="b-32">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Pacific Ave</p>
                <p class="price">$50</p>
            </div>
        </div>
        <div class="space property" id="b-33">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">North Carolina Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space chest" id="b-34">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-35">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Pennsylvania Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space rail" id="b-36">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space chance" id="b-37">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-38">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Park Pl</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space tax" id="b-39">
            <div class="space-content">
                <p class="name">Luxury Tax</p>
                <img src="/assets/img/tax.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-40">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Boardwalk</p>
                <p class="price">$200</p>
            </div>
        </div>
    </div>
    <div class="bottom-left visit-jail" id="b-11">
        <div class="jail" id="b-41">
            <h1>In Jail</h1>
            <img src="/assets/img/jail.svg" alt="">
        </div>
    </div>
    <div class="bottom property">
        <div class="space" id="b-10">
            <div class="colorblock sky"></div>
            <div class="space-content">
                <p class="name">Connecticut Ave</p>
                <p class="price">$120</p>
            </div>
        </div>
        <div class="space property" id="b-9">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Vermont Ave</p>
                <p class="price">$100</p>
            </div>
        </div>
        <div class="space chance" id="b-8">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-7">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Oriental Ave</p>
                <p class="price">$100</p>
            </div>
        </div>
        <div class="space rail" id="b-6">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space tax" id="b-5">
            <div class="space-content">
                <h2>Income Tax</h2>
                <p class="price">Pay 10% OR $200</p>
            </div>
        </div>
        <div class="space property" id="b-4">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Baltic Ave</p>
                <p class="price">$60</p>
            </div>
        </div>
        <div class="space" id="b-3">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="b-2">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Mediterranean Ave</p>
                <p class="price">$60</p>
            </div>
        </div>
    </div>
    <div class="bottom-right" id="b-1">
        <div id="go">
            <div id="go-text">
                <p>Collect $200 salary as you pass</p>
                <h1>Go</h1>
            </div>
            <img src="/assets/img/arrow.svg" alt="">
        </div>
    </div>
</div>