<style>
    .board {
        display: grid;
        grid-template-columns: 250px repeat(9, 150px) 250px;
    }
</style>

<div class="board-container">
    <div class="top-left">
        <div id="free-parking">
            <h1>Free</h1>
            <img src="/assets/img/parking.svg" alt="">
            <h1>Parking</h1>
        </div>  
    </div>
    <div class="top">
        <div class="space" id="19">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Kentucky Ave</p>
                <p class="price">$220</p>
            </div>
        </div>
        <div class="space" id="20">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="21">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Indiana Ave</p>
                <p class="price">$220</p>
            </div>
        </div>
        <div class="space" id="22">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Illinois Ave</p>
                <p class="price">$240</p>
            </div>
        </div>
        <div class="space" id="23">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="24">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Atlantic Ave</p>
                <p class="price">$260</p>
            </div>
        </div>
        <div class="space" id="25">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Ventnor Ave</p>
                <p class="price">$260</p>
            </div>
        </div>
        <div class="space" id="26">
            <div class="space-content">
                <p class="name">Water Works</p>
                <img src="/assets/img/water.svg" alt="">
                <p class="price">$150</p>
            </div>
        </div>
        <div class="space" id="27">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Marvin Gardens</p>
                <p class="price">$280</p>
            </div>
        </div>
    </div>
    <div class="top-right">
        <div id="goto-jail">
            <h1>Go</h1>
            <h1>to</h1>
            <h1>Jail</h1>
        </div>
    </div>
    <div class="left">
        <div class="space" id="18">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">New York Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="17">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Tennessee Ave</p>
                <p class="price">$180</p>
            </div>
        </div>
        <div class="space" id="16">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="15">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">St. James St</p>
                <p class="price">$180</p>
            </div>
        </div>
        <div class="space" id="14">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="13">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Virginia Ave</p>
                <p class="price">$140</p>
            </div>
        </div>
        <div class="space" id="12">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">States Ave</p>
                <p class="price">$140</p>
            </div>
        </div>
        <div class="space" id="11">
            <div class="space-content">
                <p class="name">Electric Company</p>
                <img src="/assets/img/light.svg" alt="">
                <p class="price">$150</p>
            </div>
        </div>
        <div class="space property" id="10">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">St. Charles Pl</p>
                <p class="price">$140</p>
            </div>
        </div>
    </div>
    <div class="center">
        <h1>MONOPOLY</h1>
        <div id="chance">
            <img src="/assets/img/question.svg" alt="" draggable="false">
        </div>
        <div id="community-chest">
            <img src="/assets/img/chest.svg" alt="" draggable="false">
        </div>
    </div>
    <div class="right">
        <div class="space" id="28">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Pacific Ave</p>
                <p class="price">$50</p>
            </div>
        </div>
        <div class="space" id="29">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">North Carolina Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="30">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="31">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Pennsylvania Ave</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="32">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="33">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="34">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Park Pl</p>
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="35">
            <div class="space-content">
                <p class="name">Luxury Tax</p>
                <img src="/assets/img/tax.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="36">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Boardwalk</p>
                <p class="price">$200</p>
            </div>
        </div>
    </div>
    <div class="bottom-left">
        <div id="jail">
            <h1>In Jail</h1>
            <img src="/assets/img/jail.svg" alt="">
        </div>
    </div>
    <div class="bottom">
        <div class="space" id="9">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Connecticut Ave</p>
                <p class="price">$120</p>
            </div>
        </div>
        <div class="space" id="8">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Vermont Ave</p>
                <p class="price">$100</p>
            </div>
        </div>
        <div class="space" id="7">
            <div class="space-content">
                <p class="name">Chance</p>
                <img src="/assets/img/question.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space" id="6">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Oriental Ave</p>
                <p class="price">$100</p>
            </div>
        </div>
        <div class="space" id="5">
            <div class="space-content">
                <p class="name">Railroad</p>
                <img src="/assets/img/train.svg" alt="">
                <p class="price">$200</p>
            </div>
        </div>
        <div class="space" id="4">
            <div class="space-content">
                <h2>Income Tax</h2>
                <p class="price">Pay 10% OR $200</p>
            </div>
        </div>
        <div class="space" id="3">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Baltic Ave</p>
                <p class="price">$60</p>
            </div>
        </div>
        <div class="space" id="2">
            <div class="space-content">
                <p class="name">Community Chest</p>
                <img src="/assets/img/chest.svg" alt="">
                <!-- <p class="price">$50</p> -->
            </div>
        </div>
        <div class="space property" id="1">
            <div class="colorblock brown"></div>
            <div class="space-content">
                <p class="name">Mediterranean Ave</p>
                <p class="price">$60</p>
            </div>
        </div>
    </div>
    <div class="bottom-right">
        <div id="go">
            <div id="go-text">
                <p>Collect $200 salary as you pass</p>
                <h1>Go</h1>
            </div>
            <img src="/assets/img/arrow.svg" alt="">
        </div>
    </div>
    <div class="player" id="p1"></div>
</div>