<dialog id=card-popup-<%= id %>>
    <div class="card">
        <div class="color-block">
            <%= id %>
        </div>
        <div class="card-body">

        </div>
    </div>
    <button class="close primary-button" onclick="document.getElementById('card-popup-<%= id %>').close();">
        Close
    </button>
</dialog>