<div id="chat-container">
    <div id="messages">
        <% for(let i=messages.length - 1; i >= 0; i--) { %>
            <div class="message-line">
                <div class="message">
                    <p class="username">
                        <%= messages[i].username %>
                    </p>
                    <p class="body">
                        <%= messages[i].message %>
                    </p>
                </div>
                <span class="timestamp">
                    <%= new Date(messages[i].created_at).toLocaleTimeString("en-US") %>
                </span>
            </div>
            <% } %>
    </div>
    <label class="input-textfield">
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
    </label>
</div>