<div id="chat-container">
    <div id="messages"></div>
    <br>
    <br>
    <br>
    <br>
    <label>
        <input id="chatMessage" name="chat-message" placeholder="Message..." />
    </label>
</div>