<dialog id="dice-roll-popup">
    <div class="dice-popup-container">
        <div class="dice-grid">
            <div id="dice1" class="dice">
                <div id="d1-1" class="side">
                    <img src="/assets/img/d1.svg" alt="">
                </div>
                <div id="d1-2" class="side">
                    <img src="/assets/img/d2.svg" alt="">
                </div>
                <div id="d1-3" class="side">
                    <img src="/assets/img/d3.svg" alt="">
                </div>
                <div id="d1-4" class="side">
                    <img src="/assets/img/d4.svg" alt="">
                </div>
                <div id="d1-5" class="side">
                    <img src="/assets/img/d5.svg" alt="">
                </div>
                <div id="d1-6" class="side">
                    <img src="/assets/img/d6.svg" alt="">
                </div>
            </div>
            <div id="dice2" class="dice">
                <div id="d2-1" class="side">
                    <img src="/assets/img/d1.svg" alt="">
                </div>
                <div id="d2-2" class="side">
                    <img src="/assets/img/d2.svg" alt="">
                </div>
                <div id="d2-3" class="side">
                    <img src="/assets/img/d3.svg" alt="">
                </div>
                <div id="d2-4" class="side">
                    <img src="/assets/img/d4.svg" alt="">
                </div>
                <div id="d2-5" class="side">
                    <img src="/assets/img/d5.svg" alt="">
                </div>
                <div id="d2-6" class="side">
                    <img src="/assets/img/d6.svg" alt="">
                </div>
            </div>
            <div id="dice1-number" class="dice-number">
                ?
            </div>
            <div id="dice2-number" class="dice-number">
                ?
            </div>
        </div>
        
        <div class="button-container">
            <button id="roll-button" class="primary-button">Roll</button>
            <button style="display: none;" id="close-button" class="close primary-button" onclick="document.getElementById('dice-roll-popup').close();">
                Close
            </button>
        </div>
    </div>
</dialog>

<script>

</script>