<title><%= title %></title>
<link rel="icon" type="image/x-icon" href="/backend/static/assets/img/favicon.ico">
<script src="/scripts/bundle.js" defer></script>
<link rel="stylesheet" href="/stylesheets/global.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap" rel="stylesheet">