<a class="monopoly-title" href="/">
    <span class="mt-letter" id="m1">M</span>
    <span class="mt-letter" id="o2">O</span>
    <span class="mt-letter" id="n3">N</span>
    <span class="mt-letter" id="o4">O</span>
    <span class="mt-letter" id="p5">P</span>
    <span class="mt-letter" id="o6">O</span>
    <span class="mt-letter" id="l7">L</span>
    <span class="mt-letter" id="y8">Y</span>
</a>