<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/navbar'); %>
        <h1>Game <%= id %> Page (Unauthenticated)</h1>
    </body>
</html>