<html>
    <head>
        <%- include('partials/head'); %>
        <link rel="stylesheet" href="/stylesheets/board.css" />
    </head>
    <body>
        <%- include('partials/board'); %>
    </body>
</html>