<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>

    <body>
        <%- include('./partials/navbar'); %>
        <h1>Game <%= id %> Page (Unauthenticated)</h1>
        <%- include('partials/unauthenticated_nav.ejs') %>
    </body>
</html>