<html>
<%- include('partials/head.ejs') %>
    <body>
        <%- include('./partials/navbar'); %>
        <h1>Game <%= id %> Page</h1>
        <%- include('partials/authenticated_nav.ejs') %>
    </body>
</html>