<html>
    <head>
        <%- include('partials/head.ejs') %>
    </head>
    <body>
        <%- include('./partials/authenticated-nav'); %>
        <h1>Lobby Page for Game __</h1>
        </div>
    </body>
    
</html>