<html>
  <head>
    <%- include('partials/head.ejs'); %>
    <style>
      #login-container {
        width: 360px;
        height: auto;
      }
      #login-container form {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/navbar'); %>
    <div class="center-container">
      <%- include('./partials/logo'); %>

      <div id="login-container">
        <div id="login-head" class="content-head">
          <h1>Log In</h1>
          <a id="sign-up-link" class="head-link" href="/authentication/sign-up">Create an Account</a>
        </div>
    
        <form id="login-form" class="vertical-form" method="post" action="/authentication/login">
          <label class="input-textfield">
            <span>Email</span>
            <input name="email" autocomplete="email" placeholder="Email" />
          </label>
          <label class="input-textfield">
            <span>Password</span>
            <input 
              name="password"
              type="password"
              autocomplete="current-password"
              placeholder="Password"
            />
          </label>

          <div class="button-align-right">
            <input class="primary-button" type="submit" value="Login" />
          </div>
        </form>
      </div>
    </div>
  </body>

</html>