<html>
<%- include('partials/head.ejs') %>
	<body>
		<h1>Sign Up page (unauthenticated)</h1>
		<%- include('partials/unauthenticated_nav.ejs') %>
			<form method="post" action="/authentication/sign-up">
				<label>
					<em>Username</em>
					<input name="username" autocomplete="username" placeholder="Username" />
				</label>
				<label>
					<em>Email</em>
					<input name="email" autocomplete="email" placeholder="Email address" />
				</label>
				<label>
					<em>Password</em>
					<input name="password" type="password" autocomplete="new-password" />
				</label>
				<input type="submit" value="Register" />
			</form>
	</body>
</html>