:root {
  --border-color: black;
  --brown: rgb(196 141 98);
  --sky: rgb(139 209 212);
  --pink: rgb(239 150 197);
  --orange: rgb(240 150 107);
  --red: rgb(255 111 97);
  --yellow: rgb(250 216 98);
  --green: rgb(121 200 105);
  --blue: rgb(110 148 204);
  --jail-color: rgb(189, 100, 52);
  --space-background: rgb(246, 233, 198);
  --space-background-hover: rgb(217, 203, 161);
  --center-color: rgb(255, 248, 229);

  --chance-card: #efa330;
  --chance-card-hover: #c68e39;
  --community-chest-card: #41b7e5;
  --community-chest-card-hover: #3da0c7;
}

.brown {
  background-color: var(--brown);
}

.sky {
  background-color: var(--sky);
}

.pink {
  background-color: var(--pink);
}

.orange {
  background-color: var(--orange);
}

.red {
  background-color: var(--red);
}

.yellow {
  background-color: var(--yellow);
}

.green {
  background-color: var(--green);
}

.blue {
  background-color: var(--blue);
}

.board {
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 9fr 1.5fr;
  grid-template-rows: 1.5fr 9fr 1.5fr;
  aspect-ratio: 1 / 1;
  height: 90vh;
  width: auto;
  position: relative;
  border: 3px solid var(--border-color);
  box-shadow: 0px 2px 6px 4px rgba(0, 0, 0, 0.2);
}
.board * {
  box-sizing: border-box;
  user-select: none;
}
.board .top,
.board .bottom {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.board .left,
.board .right {
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}
.board .center {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--center-color);
}
.board .top-left {
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .top .space:not(:last-child) {
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .top .space:last-child {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .top-right {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  overflow: auto;
}
.board .right .space:not(:last-child) {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .right .space:last-child {
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
}
.board .bottom-right {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  overflow: hidden;
}
.board .bottom .space:not(:last-child) {
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .bottom .space:last-child {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .bottom-left {
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  position: relative;
  /* overflow: auto; */
}
.board .left .space:not(:last-child) {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}
.board .left .space:last-child {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.board .space {
  display: flex;
  /* overflow-wrap: anywhere; */
  transition: transform 0.5s, border 0.25s, background-color 0.5s;
  background-color: var(--space-background);
  cursor: pointer;
}
.board .space:hover {
  /* transform: scale(1.5); */
  /* border: 1px solid var(--border-color); */
  background-color: var(--space-background-hover);
}
.board .bottom .space {
  display: flex;
  flex-direction: column;
}
.board .left .space {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.board .top .space {
  display: flex;
  flex-direction: column-reverse;
}
.board .right .space {
  display: flex;
  flex-direction: row;
  position: relative;
}
.space .space-content {
  display: flex;
  /* overflow-wrap: anywhere; */
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 8px;
}

/* .bottom .space .space-content {
    flex-direction: column;
} */

/* .left .space .space-content {
    flex-direction: row;
} */

.space-content h1 {
  font-size: 2.4vh;
  margin: 0;
  z-index: 1;
}
.space-content h2 {
  font-family: var(--display-font);
  font-size: 1.6vh;
  margin: 0;
  z-index: 1;
}
.space-content p {
  font-size: 1.1vh;
  line-height: 1.2;
  margin: 0;
  z-index: 1;
}
.space-content img {
  width: 100%;
  height: 100%;
  padding: 4px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.left .space-content img {
  /* max-height: 32px;
    max-width: 32px; */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  z-index: 0;
  padding: 16px;
}

.right .space-content img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  z-index: 0;
  padding: 16px;
}

.space-content .name {
  font-family: var(--display-font);
  line-height: 1.2;
}
.space-content .price {
  font-weight: 600;
}
.top .space .space-content,
.bottom .space .space-content {
  width: auto;
  height: 100%;
  text-align: center;
  align-items: center;
  /* padding: 8px; */
  /* aspect-ratio: 1 / 1; */
}
.left .space .space-content {
  width: 100%;
  height: 100%;
  text-align: right;
}
.right .space .space-content {
  width: 100%;
  height: 100%;
  text-align: left;
}

.left .space.property .space-content {
  padding: 8px;
}

.bottom .space .colorblock,
.top .space .colorblock {
  min-height: 2.5vh;
  width: 100%;
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}
.left .space .colorblock,
.right .space .colorblock {
  height: 100%;
  min-width: 2.5vh;
  padding: 2px 0px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.top .space .colorblock {
  border-top: 1px solid var(--border-color);
}

.bottom .space .colorblock {
  border-bottom: 1px solid var(--border-color);
}

.left .space .colorblock {
  border-left: 1px solid var(--border-color);
  flex-direction: column;
}

.right .space .colorblock {
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column-reverse;
}

#go {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#go-text p {
  font-size: 1vh;
  font-family: var(--body-font);
  font-weight: bold;
  line-height: 1;
  margin: 0;
  margin-bottom: 4px;
}

#go-text h1 {
  font-size: 3.6vh;
  font-family: var(--display-font);
  line-height: 1;
  margin: 0;
}

.jail {
  width: 75%;
  height: 75%;
  top: 0;
  right: 0;
  position: absolute;
  background-color: var(--jail-color);
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.jail h1 {
  font-family: var(--display-font);
  font-size: 1.2vh;
  margin: 0;
  line-height: 1;
}

.jail img {
  width: 75%;
}

#free-parking {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#free-parking img {
  padding: 8px;
  width: 75%;
  height: auto;
}

#free-parking h1 {
  font-family: var(--display-font);
  font-size: 1.2vh;
  margin: 0;
  line-height: 1;
}

#goto-jail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 100%;
}

#goto-jail h1 {
  font-family: var(--display-font);
  font-size: 1.8vh;
  margin: 0;
  line-height: 1;
}

#chance,
#community-chest {
  position: absolute;
  height: 10vh;
  aspect-ratio: 2 / 1;
  border: 1px solid var(--border-color);
  transition: background-color 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#chance {
  top: 0;
  left: 0;
  transform-origin: 50% 100%;
  transform: translateX(calc(-50% + 18vh)) translateY(calc(-100% + 18vh))
    rotate(-45deg);
  background-color: var(--chance-card-hover);
}
#community-chest {
  bottom: 0;
  right: 0;
  transform-origin: 50% 100%;
  transform: translateX(calc(50% - 18vh)) translateY(-18vh) rotate(135deg);
  background-color: var(--community-chest-card-hover);
}
#chance img,
#community-chest img {
  width: auto;
  height: 100%;
  z-index: 10;
  padding: 16px;
  transition: transform 0.25s;
}
#chance::before,
#community-chest::before {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: transform 0.25s;
}
#chance::before {
  background-color: var(--chance-card);
}
#chance:hover::before {
  transform: rotate(10deg);
}
#chance:hover img {
  transform: rotate(10deg);
}

#community-chest::before {
  background-color: var(--community-chest-card);
}
#community-chest:hover::before {
  transform: rotate(-10deg);
}
#community-chest:hover img {
  transform: rotate(-10deg);
}

.center h1 {
  font-family: var(--display-font);
  letter-spacing: 0.8vh;
  font-size: 6.4vh;
}

#player-pieces {
  position: relative;
}

.player {
  width: 24px;
  height: 24px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 2px solid rgb(168, 35, 35);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  background-color: lightgray;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: all 0.75s;
  z-index: 100;
}

.house-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20 20.0001C20 20.5524 19.5523 21.0001 19 21.0001H5C4.44772 21.0001 4 20.5524 4 20.0001V11.0001L1 11.0001L11.3273 1.61162C11.7087 1.26488 12.2913 1.26488 12.6727 1.61162L23 11.0001L20 11.0001V20.0001ZM8 15.0001V17.0001H16V15.0001H8Z' fill='rgba(20,112,47,1)'%3E%3C/path%3E%3C/svg%3E");
  width: 16px;
	height: 16px;
}

.hotel-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21 19H23V21H1V19H3V4C3 3.44772 3.44772 3 4 3H14C14.5523 3 15 3.44772 15 4V19H17V9H20C20.5523 9 21 9.44772 21 10V19ZM7 11V13H11V11H7ZM7 7V9H11V7H7Z' fill='rgba(140,22,45,1)'%3E%3C/path%3E%3C/svg%3E");
  width: 16px;
	height: 16px;
}

dialog::backdrop {
	background-color: rgba(0,0,0,0.2);
	animation: backdrop-fade 0.5s;
}

.card-dialog {
	border: none;
	background-color: transparent;
}

.card-dialog-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.card-dialog .card.property {
	width: 240px;
	height: auto;
	background-color: white;
	padding: 12px;
	animation: slide-up 0.5s ease-in-out;
	box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

.chance-card-content {
  background-color: var(--chance-card);
  height: 140px;
}

.card.property .card-content {
	border: 1px solid black;
	padding: 12px;
	font-family: var(--body-font);
}

.card.property .card-content .color-block {
	height: 64px;
	background-color: var(--accent);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card.property .card-content .property-name {
	margin: 0;
	font-size: 18px;	
	text-transform: uppercase;
}

.card-body, .card-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 12px;
}

.card-body {
	border-bottom: 1px solid black;
}

.card.property .card-content .rent {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 1.5;
}

.card.chance, .card.chest {
  width: 360px;
	height: 180px;
	padding: 12px;
	animation: slide-up 0.5s ease-in-out;
	box-shadow: 0px 2px 8px 2px rgba(0,0,0,0.2);
}

.card.chance {
  background-color: var(--chance-card);
  color: black;
}


.card.chest {
  background-color: var(--community-chest-card);
  color: black;
}

.card.chance .card-content, .card.chest .card-content {
  height: auto;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
  /* flex-direction: row; */
  align-items: center;
}

.card-content > div {
  flex: 1
}

.card-content img {
  width: 100%;
  height: auto;
}

.card-left {
  padding: 32px;
  box-sizing: border-box;
}

.card-right {
  padding-right: 32px;
}

.card-right h1{
  margin: 0;
  font-size: 24px;
  margin-bottom: 16px;
  font-family: var(--display-font);
}

.card-right p {
  line-height: 1.2;
}

@keyframes backdrop-fade {
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	50% {
		opacity: 1;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
